# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/ts_server/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/test-results
/playwright-report
/playwright/.cache

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env*.test
redis/.env # Ignore .env file specifically in the redis directory
e2e/.env.test
.gpg
signal-desktop-keyring.gpg
llm.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.codesandbox

.devcontainer
.aider*
.csv
*.csv

# Added by Claude Task Master
# Logs
logs
*.log
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 
isoftpull-response.json
